.enqtopCtrls a{
    outline: none;
    text-decoration: none;
    color: #4d4d4d;
    display: inline-block;
    border-right: 1px solid #e4e4e4;
    padding: 5px 5px;
}
.enqtopCtrls a span{
    outline: none;
}
