.msgItem{
    color: #9d9d9d;
    cursor: pointer;
}
.highlight{
    color: #141414 !important;
    font-weight: 500;
}
.highlight:hover{
    color: #159590  !important;
}
.msgItem:hover{
    color: #159590 ;
}
.msgList{
    height: 89vh;
    overflow-y: auto;
}
