<section class="topbar">
    <div class="container-fluid">
        <div class="row g-2 align-items-center">
            <div class="col-auto mmenu">
              <a href="javascript:void(0);" onclick="showmenumobile()">
                  <img src="/assets/img/icons/menu-bar.png" alt="">
              </a>
            </div>
            <div class="col-auto brandlogo">
                <!-- <img src="/assets/img/uc-logo.svg" /> -->
                <img src="/assets/img/medginnie-logo-white.png" />
            </div>
            
            <div class="col text-end">
                <div class="dropdown profilebtn">
                    <span class="" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/img/icons/user.png" />
                    </span>
                    
                    <ul class="dropdown-menu">
                        <li>
                            <a href="change-password.html" class="dropdown-item">Change Password</a>
                        </li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a href="login.html" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottomSec">
    <div class="mobmenubg">
        <a href="javascript:void();" id="Closemenu" onclick="hidemenumobile()"><i class="icofont-close-line-squared-alt"></i></a>
    </div>
    <div class="sidebar">
        
        <nav class="navbar navbar-vertical navbar-expand-lg">
            <div class="" id="navbarVerticalCollapse">
                <!-- scrollbar removed-->
                <div class="navbar-vertical-content">
                    <ul class="navbar-nav flex-column" id="navbarVerticalNav">


                        
                        <li class="nav-item">
                            <div class="nav-item-wrapper">
                                <a class="nav-link label-1" routerLink="/" role="button" data-bs-toggle="" aria-expanded="false">
                                    <div class="d-flex align-items-center"><span class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-table"><path d="M9 3H5a2 2 0 0 0-2 2v4m6-6h10a2 2 0 0 1 2 2v4M9 3v18m0 0h10a2 2 0 0 0 2-2V9M9 21H5a2 2 0 0 1-2-2V9m0 0h18"></path></svg></span><span class="nav-link-text-wrapper"><span class="nav-link-text">Dashboard</span></span></div>
                                </a>
                            </div><!-- parent pages-->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="navbar-vertical-footer">
            <a href="javascript:void()" id="expandMenu" onclick="expandMenu()" style="display:none;">
                <img src="/assets/img/icons/right-align.png" style="height:20px" />
            </a>
            <a href="javascript:void()" id="collapseMenu" onclick="collapseMenu()">
                <img src="/assets/img/icons/left-align.png" style="height:20px" />
                <span>Collapsed view</span>
            </a>
        </div>
    </div>
    <div class="mainContent">
        <router-outlet></router-outlet>
        <div class="border-bottom py-2 mb-3 d-none">
            <div class="container-fluid">
                <div class="row g-2 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h6 class="mb-0">Experience the Cloud</h6>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            Power BI Reports
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>